.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Adjust the z-index as needed to control layering */
    /* Add other styling properties like padding, height, etc. */
  }








.landingpageheaderlogo img {
  width: 100%;
}
.landingpageheaderlogo {
  width: 30%;
  margin: 7px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxshadowlanding {
  box-shadow: 0px 0px 8px 2px rgba(10, 68, 122, 0.7) !important;
  padding: 0px 10px;
}

.btn-link {
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-family: Poppins-SemiBold;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}
.btn-link span {
  transition: 0.3s;
  cursor: pointer;
  font-size: 15px;
}
.btn-link span:hover {
  color: #08c3de;
}
.btn-link span::after {
  content: "";
  position: absolute;
  background-color: #08c3de;
  height: 3px;
  width: 0%;
  left: 21px;
  bottom: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.btn-link span:hover::after {
  width: 30%;
}
.linkbtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.reg-btn {
  padding: 0px 30px;
}
.reg-btn button {
  background-color: #08c3de;
  padding: 10px 30px;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  font-family: "Barlow-Bold";
  transition: 0.3s;
}

.reg-btn button:hover{
    background-color: white;
    color: #08c3de;
}

/* landingpagecontect */

.landingpagecontent {
  display: grid;
  grid-template-columns: 65% 35%;
  margin-top: 70px;
}
.titile-side-products {
  margin-top: 40px;
}
.titile-side-products h1 {
  margin-top: 0px;
  font-family: "Poppins-Bold";
  color: #030d16;
}
.titile-side-products p {
  margin-bottom: 0px;
  font-family: "Poppins-SemiBold";
  color: #08c3de;
}
.products_display {
  display: grid;
  grid-template-columns: 40% 60%;
}
.product-box img {
  width: 100%;
  transition: 0.5s;
}
.product-box {
  overflow: hidden;
  border-radius: 10px;
}
.product-box-content {
  padding: 5px 20px;
}
.product-box-content p {
  margin-bottom: 0px;
  font-family: "Poppins-Regular";
  font-size: 14px;
}

.product-box-content h3 {
  font-family: "Poppins-SemiBold";
  color: black;
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 0px;
  transition: 0.2s;
}
.product-list ul li {
  list-style-type: circle;
  line-height: normal;
  font-size: 13px;
  color: #403e3e;
  font-family: "Poppins-Regular";
}

/* .products_display:hover .product-box img{
    transform: scale(1.1);
} */
.products_display:hover .product-box-content h3 {
  color: #08c3de;
}
.products_display:hover {
  cursor: pointer;
}

.checkbox-product {
  display: flex;
  justify-content: end;
  align-items: baseline;
}

.selection-box {
  margin-top: 50px;
  border: 1px solid #a9a5a5;
}
.filters{
    padding: 10px 15px;
    text-align: left;
    font-size: 22px;
    font-family: "Poppins-SemiBold";
    padding-bottom: 0px;
}
.more-option{
  margin: 0;
}

.load-more{
  font-family: "Poppins-Regular";
  color: #08c3de;
  margin-left: 17px;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s;
}

.load-more span:hover{
  color: orangered;
}
.load-more span{
  cursor: pointer;
  transition: 0.2s;
}

.footer{
  margin-top: 30px;  
  background-color: #030d16;
  color: white;
}

.footer-content{
  display: grid;
  grid-template-columns: 35% 20% 20% 25%;
  padding: 20px 0px;
}

.footer-box-1 .adress-content{
  width: 70%;
  text-align: center;
  display: grid;
    place-items: center;
    padding: 20px;
}
.footer-box-1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}



.footer-box-1 .adress-content h3{
  font-family: "Poppins-Bold";
  margin-bottom: 5px;
  color: #08c3de;
}
.footer-box-1 .adress-content p{
  font-family: "Poppins-Regular";
  font-size: 13px;
}
.footer-box-1 .adress-content {
  background-color: #0e1f2f;
  border-top:4px solid #08c3de ;
  border-radius: 3px;
}

.footer-icon{
  display: flex;
  gap: 10px;
  padding: 10px 0px ;
  padding-bottom: 0px;
}
.icon-footer{
  background-color: #030d16 !important;
  border-radius:5px ;
  transition: 0.3s !important;
  cursor: pointer;
}

.icon-footer:hover{
 background-color: #096f7e !important;
}

.footer-box-2 .header-footer h3{
  font-family: "Poppins-SemiBold";
 
}

.links-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding-left: 10px;
  font-family: "Poppins-Regular";
}
.footer-box-4{
  padding: 0px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-box-footer img{
  width: 100%;

}

.logo-box-footer{
  width: 50%;
}